 
 .container{
  height: 500px;
  padding-top:100px ;
 }
 .heading{
text-align: center;
font-size: 30px;

 }
 .Sections{
   flex: 1 ;
    display:flex;
    flex-direction:row;
    padding:80;
    margin-top: 30px;
    justify-content:center;
    align-items:center;
      
}
.doctor{
    margin: 50px;
    border-radius: 35px;
 
}
.deptName{
    text-align: center;
    font-size: 25px;
}
.dept{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 30px;
   
   
}


.rightImg{
    justify-content: center;
}


.NavLink {
    color: #333; /* Default link color */
    background-color: transparent; /* Default background */
    /* padding: 10px 20px; */
    border-radius: 0px;
    width: 200px;
    transition: background-color 0.3s, color 0.3s;
    text-align: center;
  }
  
  .NavLink.active {
    background-color: #007bff; /* Active background color */
      /* Active text color */
    color: #333 important;
  }
  
  .NavLink:hover {
    background-color: #575de3; /* Hover background color */
    color: #fff; /* Hover text color */
  }

  /* Make the modal background transparent */
.transparent-modal .modal-content {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Make the backdrop (overlay) transparent */
.transparent-modal .modal-backdrop {
  background-color: rgba(0, 0, 0, 0) !important; /* Fully transparent */
}
/* .modal-content {
  background: transparent;
  border: none;
} */
.modal-backdrop {
  background-color: transparent !important;
}

@media  (max-width: 600px) {
  body {
    /* background-color: lightblue; */
  }
  #img{
    width: 100px;
    height: 120px;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  #docHead{
    width: auto;
  }
  
  #Topdoc1{
    width: 300px;

  }
  #RelatedContainer{
    height: auto;
  }
  #RelatedFont{
    font-size: 15px;
    width: auto;
  }
  /* Hide scrollbar on WebKit browsers */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar on Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

#DocSlot{
  width: 50px;
  
  font-size: 10px;
}
#timePick{
 width: 70px;


}
#modelcontainer{
 width: 200px;
}
#modelHeader{
font-size: 14px;
}
#selectDate{
font-size: 14px;
}
#selectTime{
font-size: 14px;
}
#makeAppoint{
font-size: 12px;
}
.react-datepicker-popper{
width: 100% !important; /* Ensure the popup takes full width on small screens */
}

.react-datepicker__triangle {
left: 50%;
transform: translateX(-50%); /* Center the triangle under the input field */
}
#lawyerSen{
  width: auto;
}


}